.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.about {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.about h1,
.about h2 {
    color: #333;
    margin-bottom: 10px;
}

.about p {
    color: #666;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.about ul {
    margin-bottom: 15px;
}

.about ul li {
    list-style-type: disc;
    color: #666;
    margin-left: 20px;
}

.about ul li:last-child {
    margin-bottom: 0;
}