#searchAnchorTag{
    text-decoration: none;
    color: green;
}

.disabled-button a {
    pointer-events: none;
    cursor: default;
    color: grey; /* optional: to indicate visually that it is disabled */
    text-decoration: none; /* optional: to remove underline */
}