img{
    height: 300px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    min-width: 25%;
}

.card-img-top {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}