body{
    background-color: #f6f4f4;
}
.container {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

form{
    width: 50%;
    padding: 15px;
    top: 0;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
}

h1{
    margin: 10px;
    text-decoration: underline;
}

.form-floating{
    margin: 30px;
    width: 70%;
    left: 4vw;
}