{% extends "shop/basic.html" %}

{% block title %} Become a Seller {% endblock %}

{% block body %}

{% load static %}

    <form method="post"> 
        {% csrf_token %}
        <div class="container">

            <!-- For any kind of error other than given below -->
            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Entered email is already registered. Please try again with another email id.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        
            <!-- For business email error -->
            {% if business_email_error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Entered email is already registered. Please try again with another email id.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        
            <!-- For business phone number error -->
            {% if business_phone_no_error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Entered phone number is already registered. Please try again with another phone number.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        
            <!-- For business address error -->
            {% if business_address_error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Entered address is already registered.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="business_name" name="business_name" placeholder="" required>
            <label for="business_name">Enter Your Business Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control {% if business_email_error %}is_invalid{% else %}{% endif %}" id="business_email" name="business_email" placeholder="" required>
            <label for="business_email">Enter Your Business Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control {% if business_phone_no_error %}is_invalid{% else %}{% endif %}" id="business_phone_no" name="business_phone_no" placeholder="" required>
            <label for="business_phone_no">Enter Your Business Phone Number</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control {% if business_address_error %}is_invalid{% else %}{% endif %}" id="business_address" name="business_address" placeholder="" required>
            <label for="business_address">Enter Your Business Address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="items_to_sell" name="items_to_sell" placeholder="" required>
            <label for="items_to_sell">Which Items Do You Want To Sell?</label>
        </div>
        <button type="submit" id="subBtn" class="btn btn-success">Submit</button>
    </div>
    </form>


{% endblock %}

{% block js %}
<script src="{% static 'js/becomeASeller.js' %}"></script>
{% endblock %}