{% extends 'shop/basic.html' %}

{% block title %} Cart {% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% load custom_filters %}

{% block body %}
<div class="container">
    <div class="cart-container">
        <div class="cart-header">Shopping Cart</div>
        {% if items %}
        {% for item in items %}
        <div class="cart-item">
            <div class="item-info">
                <div class="item-name">{{ item.product_id.product_name }}</div>
                <div class="item-details">Size: {{ item.size }} | Quantity: 
                    <form method="post" action="{% url 'shop:update_quantity' item.id 'decrease' %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-secondary">-</button>
                    </form>
                    {{ item.quantity }}
                    <form method="post" action="{% url 'shop:update_quantity' item.id 'increase' %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-secondary">+</button>
                    </form>
                </div>
            </div>
            <div class="item-price">${{ item.get_total_price }}</div>
        </div>
        {% endfor %}
        <div class="total-price">
            Total: ${{ cart.get_total_price }}
        </div>
        <div>
            <form method="post" action="{% url 'shop:create_payment' cart.cart_id %}">
                {% csrf_token %}
                <div class="mb-3 mt-5">
                    <label for="address" class="form-label">Enter the address for delivery(if not entered, user's address will be taken as location of delivery)</label>
                    <textarea class="form-control" id="address" name="address" rows="3"></textarea>
                </div>
                <button type="submit" id="checkout" class="btn btn-primary">
                    Continue to Payment
                </button>
            </form>
        </div>
        {% else %}
        <div class="cart-item empty-cart-animation">
            Your cart is empty.
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
