{% extends 'shop/basic.html' %}

{% block title %} Category Items {% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/categoryItems.css' %}">
{% endblock %}

{% load custom_filters %}

{% block body %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
    {% for product in allCategoryItems %}
    <div class="col">
      <div class="card h-100">
        <a href="/shop/quick_review_of_{{product.product_name}}/{{product.product_id}}">
          <img src="/media/{{product.product_image}}" class="card-img-top" alt="{{product.product_name}}">
        </a>
        <div class="card-body">
          <h5 class="card-title" id="namepr{{i.id}}">{{product.product_name}}</h5>
          <p class="card-text">{{product.description|slice:"0:50"}}...</p>
          <h6 class="card-title">$<span id="pricepr{{product.product_id}}">{{product.price}}</span></h6>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}