{% extends 'shop/basic.html' %}

{% block title %} title of contact {% endblock %}

{% load static %}

{% block body %}
<div class="container my-3">
    {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Response submitted successfully.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endif %}
    <h2>Contact Us</h2>
    <form method="post" id="contactForm">{% csrf_token %}
        <div class="form-group">
            <label for="desc">How may we help you?</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <button type="submit" id="subBtn" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}