{% extends 'shop/basic.html' %}

{% block title %} Payment Error {% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% load custom_filters %}

{% block body %}
<div class="container">
    <div class="payment-error-container">
        <h1>Payment Failed</h1>
        <p>There was an error processing your payment.</p>
        <p>Please check the following:</p>
        <ul>
            <li>Ensure your payment information is correct.</li>
            <li>Verify your internet connection.</li>
            <li>Contact customer support for assistance.</li>
        </ul>
        <a href="{% url 'shop:cart' %}" class="btn btn-primary">Back to Cart</a>
    </div>
</div>
{% endblock %}
