{% extends 'shop/basic.html' %}

{% block title %} Welcome to MyCart {% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% load custom_filters %}

{% block body %}
<div class="container">
    <div class="row">
        <ul class="mainUl">
            {% for root_category in root_categories %}
            <li class="col">
                {% if level1_category|get_item:root_category %}
                <div class="dropdown">
                    <a class="dropbtn">{{ root_category.category_name }}&#x25BE;</a>

                    <ul class="dropdown-menu dropdown-content">
                        {% for level1 in level1_category|get_item:root_category %}

                        {% if level2_category|get_item:level1 %}
                        <li class="dropdown-item dropdown-submenu">
                            <a class="dropbtn">{{ level1.category_name }}<span style="float: right">&#x25B8;</span></a>
                            <ul class="submenu">
                                {% for level2 in level2_category|get_item:level1 %}
                                <li class="dropdown-item"><a href="/shop/category/{{level2.category_id}}">{{ level2.category_name }}</a></li>
                                {% endfor %}
                            </ul>
                            {% else %}
                        <li class="dropdown-item">{{ level1.category_name }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% else %}
                {{ root_category.category_name }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>
{% endblock %}