{% extends 'shop/basic.html' %}

{% block title %} title of about {% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/orderHistory.css' %}">
{% endblock  %}

{% block body %}

<div class="container">
    <h1>Your Order History</h1>
    {% if orders %}
        <ul id="ul">
        {% for order in orders %}
            <li class="li">
                <div class="left">
                    Order ID: {{ order.order_id }} <br>
                    Order Date: {{ order.order_date }} <br>
                    Amount: ${{ order.amount }} <br>
                    Payment id: {{order.paypal_payment_id}}
                </div>
                <div class="right">
                    {% if order.order_status == 'pending' %}
                        <span style="color: orange;">Pending</span>
                    {% elif order.order_status == 'shipped' %}
                        <span style="color: blue;">Shipped</span>
                    {% elif order.order_status == 'in_transit' %}
                        <span style="color: purple;">In Transit</span>
                    {% elif order.order_status == 'delivered' %}
                        <span style="color: green;">Delivered</span>
                    {% elif order.order_status == 'cancelled' %}
                        <span style="color: red;">Cancelled</span>
                    {% else %}
                        <span>{{ order.order_status }}</span>
                    {% endif %}
                </div>
                <!-- Add more details as needed -->
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No orders found.</p>
    {% endif %}
</div>

{% endblock %}